@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all .3s ease;
}

body{
   font-family: 'Poppins', sans-serif;
   color: #2b313a;
}

section#select-level{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#select-level h3{
   margin: 20px 0;
}

#select-level select{
   padding: 10px 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   background-color: #fff;
   border: 1px solid #19989c;
   font-size: 16px;
}

input{
   padding: 10px 20px;
   background-color: #19989c;
   border: none;
   border-radius: 5px;
   color: #fff;
   cursor: pointer;
   font-size: 18px;
}

input[type="submit"]:hover, input[type="button"]:hover{
   background-color: #17c1c7;
}

section#game{
   width: 80vw;
   margin: 10vh auto;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   background-color: yelow;
   display: none;
}

.hangman{
   width: 50%;
   height: auto;
}

.hangman img{
   width: 80%;
}

.phrase{
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.phrase .letter{
   display: inline-block;
   width: 50px;
   height: 50px;
   text-align: center;
   line-height: 50px;
   font-size: 20px;
   margin: 5px;
   border-bottom: 2px solid #19989c;
}

.buttons{
   width: 100%;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

.button{
   padding: 15px;
   margin: 5px;
   border-radius: 10px;
   border: 0;
   outline: 0;
   cursor: pointer;
   font-size: 18px;
   background-color: #68717e;
   color: #fff;
}

.button:hover{
   background-color: #19989c;
}

#tip{
   position: absolute;
   top: 10px;
   right: 60px;
   color: #19989c;
   font-size: 25px;
}


#end-game{
   width: 100%;
   height: 100%;
   display: none;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: absolute;
}

#end-game h3{
   margin: 20px 0;
}

@media (max-width: 600px){
   .hangman{
      width: 100%;
   }
   .phrase{
      width: 100%;
   }
}